.nav{
  height:100%;
  width:10%;
  background-color:lavender;
  overflow-y: scroll;
	}
.nav a {
  color: black;
  background-color: #c5c5c5;
  border-color: #f2f2f2 #454545 #454545 #f2f2f2;
  display: block;
  text-decoration:none;
  padding:5px;
  text-align:left;
  border-style:outset;
  border-width:3px;
  }
.nav .active {
  border-color: #454545 #f2f2f2 #f2f2f2 #454545;
  background-color:#c3c9bb;
      }
.nav a:visited{
  color:black;
      }
.nav a:hover {
  background-color:lightgray;
  border-color:lightgray;
  }
.nav a:active {
  border-color: #454545 #f2f2f2 #f2f2f2 #454545;
  background-color:#c3c9bb;
  }

body{
	background-color:black;
}
.content{
	background-color:lightgrey;
}
